In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [2]:
data=pd.read_csv('logistic_regression.csv')
data

   id  total  P/F?
0   1     91     1
1   2     85     1
2   3     30     0
3   4     12     0
4   5     68     1
5   6     72     1
6   7     40     1
7   8     35     0
8   9     99     1
9  10     89     1

In [3]:
x=pd.DataFrame(data['total'])
y=pd.DataFrame(data["P/F?"])

In [5]:
reg=linear_model.LogisticRegression()
reg.fit(x,y)

C:\Users\csedept\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [6]:
xtest=pd.DataFrame([89,22,37,92])
ypred=reg.predict(xtest)
print(ypred)

[1 0 0 1]